:root {
  --light: 255, 255, 227;
  --dark: 39, 39, 37;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* end style reset */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

.wrapper {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 1em;
  padding-top: 1em;
  /* border: 2px #ffffe3 solid; */
  border-radius: 0 0 1em 1em;
  width: 100vw;
  height:auto;
  font-size: larger;
  background-color: rgba(var(--dark),0.1);
  backdrop-filter: blur(1rem);
  row-gap:1em;
}

body {
  background-color: rgba(var(--dark),0.4);
  color: #ffffe3;
}

.soup-video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

#content {
  position: relative; /* Ensure relative positioning for absolutely positioned children */
  border: 2px rgb(var(--light)) solid;
  border-radius: .5em;
  width: auto;
  padding: .5em;
  background-color: rgba(var(--dark),0.1);
  backdrop-filter: blur(1rem);
}

.nav {
  display: inline-flex;
}

.footer {
  display: flex;
  justify-content: center;
  padding: .5em 0 .5em 0;
  width:100%;
  background-color: rgba(var(--dark),0.1);
  backdrop-filter: blur(1rem);

}

button {
  background: transparent;
  border: rgb(var(--light)) 2px solid;
  color: rgb(var(--light));
  border-radius: .5em;
  padding: .25em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: clamp(125px, 15%, 25%);
  min-width:auto;
}

button:hover {
  cursor: pointer;
  background-color: #272725;
}

/* menu styling  */

.menu {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 50vh;
  justify-content: center;
  align-items: center;

}