:root {
  --light: 255, 255, 227;
  --dark: 39, 39, 37;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 100lvh;
  min-height: 100lvh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

html {
  height: -webkit-fill-available;
}

/* end style reset */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 2;
  pointer-events: none;
  background-color: rgba(255, 217, 136,.05);
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

.wrapper {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100lvh;
}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 1em;
  padding-top: 1em;
  /* border: 2px #ffffe3 solid; */
  border-radius: 0 0 1em 1em;
  width: 100vw;
  height:auto;
  font-size: larger;
  background-color: rgba(var(--dark),0.1);
  backdrop-filter: blur(1rem);
  row-gap:1em;
}

body {
  background-color: rgba(var(--dark),0.4);
  color: #ffffe3;
  font-size: larger;
}

.soup-video {
  position: fixed;
  top: 0%;
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  transition: all 0.6s ease-in;
  z-index: 1;
}


.ramen-img {
  position: relative;
  top: 15%;
  z-index: 0;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  max-width: 500px;
}

#content {
  position: relative; /* Ensure relative positioning for absolutely positioned children */
  border: 2px rgb(var(--light)) solid;
  border-radius: .5em;
  width: auto;
  padding: .5em;
  background-color: rgba(var(--light),0.15);
  backdrop-filter: blur(1rem);
  transition: all 0.6s ease-in-out;

}

.nav {
  display: inline-flex;
}

.nav-side {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: nowrap;
  width: 100%;
  background-color: transparent;
  filter: none;
  backdrop-filter: none;
}

.nav-side:first-child {
  margin-top: 3.5em;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: .5em 0 .5em 0;
  width:100vw;
  background-color: rgba(var(--dark),0.1);
  backdrop-filter: blur(1rem);
  margin-top: 1em;
  max-height: 3em;
}

button {
  background: transparent;
  background-color: rgba(var(--light),0.20);
  border: rgb(var(--light)) 2px solid;
  color: rgb(var(--light));
  border-radius: .5em;
  padding: .25em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: clamp(125px, 15%, 25%);
  min-width:auto;
  font-size: larger;
}


@keyframes floating {
  0% { transform: translate(0,  0px);
    transform:rotate3d(30deg); }
  50%  { transform: translate(0, 15px);
    }
  100%   { transform: translate(0, -0px); }    
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(4.333);
  }
}
@keyframes shrink {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.9);
  }
}

.toggle-button {
  position:fixed;
  right:0;
  top:0;
  z-index: 9999;
  margin-top: 1em;
  margin-right: 1em;
  height: 50px;
  width: 50px;
}

.toggle-button:active {
  transform: rotate(90deg);
  transition: all 0.3s ease;

}

button:hover {
  cursor: pointer;
}

button:active {
  animation: shrink 0.3s;
  transition: all 0.3s ease;
}

button:not(:active) {
  background-color: rgba(var(--light),0.2);
}

/* menu styling  */

.menu {
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: baseline;
  flex: 1;

}

.soup-description {
  max-width: 220px;
}

.soup-item {
  
  padding: 1em;
  border-radius: .5em;
  background-color: rgba(var(--dark),.33);
  /* border: #ffffe3 2px dashed; */
}

.menu-container {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  min-width: 50vw;
  min-height: 50vh;
  justify-content: end;
  align-items: baseline;
}

.sidebar {
  position: fixed;
  width:1px;
  border: #ffffe3 2px solid;
  border-radius: 0.5em 0 0 0.5em;
  right: 0;
  top: 0;
  height: 100lvh;
  z-index: 999;
  background-color: rgba(var(--light),0.15);
  backdrop-filter: blur(1rem);
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

@media (width <= 450px) {
  .menu-container {
    grid-template-columns: 1fr;
  }
  #content {
    margin-top: 7rem;
  }
  .nav-list {
    display: none;
  }

}

@media (width > 450px) {
  .toggle-button {
    display: none;
  }
}

.overlay2 {
  position:fixed;
  z-index: -1;
  width: 100%;
  height:100%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  opacity: 50%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}